delayScale={{ delayScale }}
delayOffset={{ delayOffset }}
delayEpsilon={{ delayEpsilon }}
ripupPenalty={{ ripupPenalty }}
carryPredictDelay={{ carryPredictDelay }}
{% for line in lc_estimate_lines %}
{{ line }}
{% endfor %}
